/* Safe Area */
.safe-area {
	height: 100vh;
	background-color: #fcdb00;
	padding-top: 1rem;
}

/* Header */
.header {
	height: 60px;
}
.nav-link {
	color: #000;
	font-weight: bold;
}
.nav-link:hover {
	text-decoration: underline;
	color: #000;
}

/* Global texts */
.headline {
	font-size: 2rem;
}
.description {
	font-size: 1.3rem;
}
.text {
	font-size: 0.85rem;
	color: #898989;
}

/* Carousel */
.carousel-inner {
	margin-top: 3rem;
	height: 520px;
}
.wrapper-carousel {
	margin-top: 4rem;
	padding-right: 7rem;
}
.carousel-item .text {
	color: #555555;
}

/* Feature */
.feature {
	padding: 5rem 0;
}
.feature .row {
	margin-top: 5rem;
}
.feature .feature-item {
	padding: 0 2rem;
}
.feature .feature-item .fa {
	position: absolute;
	left: 0;
}
.feature .feature-item .feature-heading {
	margin-left: 2rem;
}
.feature .feature-item .feature-heading .headline {
	font-size: 1.5rem;
}

/* Footer */
.footer {
	padding: 5rem 0;
	background-color: #000;
}
.footer .headline {
	color: #fcdb00;
}
.footer .description {
	color: #898989;
}
.footer .btn-warning {
	background-color: #fcdb00;
	color: #000;
	font-weight: bold;
	font-size: 1rem;
	text-transform: uppercase;
}
.footer .btn-warning:hover {
	cursor: pointer;
}
.footer form {
	margin: 4rem 0;
}
.footer .nav {
	margin-top: 5rem;
}
.footer .nav-link {
	color: #fff;
	padding: 0;
	font-weight: normal;
}