/* Safe Area */
.safe-area {
	height: 100vh;
	background-color: #ef404b;
	padding-top: 1rem;
}

/* Header */
.header {
	height: 60px;
	padding-left: 80px;
	padding-top: 0.5rem;
	margin-top: 1rem;
	
}
.header h1 {
	background: url(../img/logo.png) no-repeat;
	width: 200px;
	height: 200px;

}
.nav-link {
	color: #fff;
	font-weight: bold;
	transition: .5s;
}
.nav-link:hover {
	text-decoration: underline;
	color: #292b2c;
}
.header.menu {
	transition: .5s;
    background-color: #fff;
    margin-top: 0rem;
}
.header.menu h1 {
	background: url(../img/logo2.png) no-repeat;
}
.header.menu .nav-link{
    color: #292b2c;
    font-weight: bold;
}

/* Global texts */
.headline {
	font-size: 2rem;
}
.description {
	font-size: 1.0rem;
}
.text {
	font-size: 0.85rem;
	color: #898989;
}

/* Carousel */
.carousel-inner {
	padding-top: 3rem;
	margin-top: 3rem;
	height: 520px;
	color: #fff;	
}
.wrapper-carousel {
	margin-top: 8rem;
}
.button-products {	
	padding: 2rem;
}
.button-products a {
	background-color: #fff;
	color: #ef404b;
	padding: 20px;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
.carousel-item .text {
	color: #fff;
}

/* About */
.about {
	padding: 5rem 0;
	background-color: #eef1f2;
}
.about .row {
	margin-top: 2em;
}
.about .text-primary {
	color: #ef404b !important;
}
.service-heading {
	margin-top: 20px;
}
.about p {
	margin-top: 10px;
}

/* Empresa */
.empresa {
	padding: 5rem 0; 
}

/* Feature */
.feature {
	padding: 5rem 0;
	background-color: #eef1f2;
}
.feature .row {
	margin-top: 5rem;
}
.feature .col {
	background-color: #fff;
	margin-left: 30px;
}
.feature .feature-item {
	padding: 1rem 2rem;
}
.feature .feature-item .fa {
	position: absolute;
	left: 10px;
}
.feature .feature-item .feature-heading {
	margin-left: 2rem;
}
.feature .feature-item .feature-heading .headline {
	font-size: 1.5rem;
}

/* Footer */
.footer {
	padding: 5rem 0;
	background-color: #000;
}
.footer .headline {
	color: #ef404b;
}
.footer .description {
	color: #898989;
}
.footer form {
	margin-top: 4rem;
}
.footer .form-group textarea.form-control {
	height: 219px;
}
.footer .form-group input, .form-group textarea {
	padding: 20px;
	border-radius: 1px;
}
.footer .btn-x1 {
	margin-top: 20px;
	background-color: #ef404b;
	border-color: #ef404b;
	border-radius: 1px;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	padding: 20px 40px;
}
.footer .btn-x1:hover {
	cursor: pointer;
}
.footer .list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}
.footer .tel {
	padding: 2rem 0;
	margin-bottom: 2rem;
}
.footer .list-inline > li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
.footer .social-buttons li a {
	display: block;
	background-color: #fff;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	font-size: 20px;
	line-height: 40px;
	color: #ef404b;
	outline: 0;
	transition: all .3s;
	text-align: center;
}
.footer ul.social-buttons {
	margin-bottom: 0;
}